<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" parallel="tests" thread-count="2">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="UI Tests">
        <classes>
            <class name="ui.TestRegisterUser"/>
            <class name="ui.TestLogin"/>
            <class name="ui.TestProductPage"/>
            <class name="ui.TestPages"/>
        </classes>
    </test>

    <test name="API Tests">
        <classes>
            <class name="api.TestProductsApi"/>
            <class name="api.TestUserClientAPI"/>
            <class name="api.TestLoginApi"/>
        </classes>
    </test>

</suite>